.App {
  text-align: center;
}

.form-container {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 3%;
}

label {
  margin: 10px 0 10px 0;
  align-self: start;
  padding: 2%;
  width: 100%;
}

input {
  width: 50%;
  margin: 5px;
}

button {
  width: 100px;
  align-self: center;
}
